# aquacrop
python-ria
pyowm==3.3.0

# utils requirements
# numpy==1.24.2
pyowm==3.3.0
# pandas==2.0.0
ephem==4.1.4
astral==3.2
matplotlib==3.7.1

# aquacrop requirements
numba>=0.56.0
numpy>=1.18.0,<1.22.0
pandas>=1.3.5
tqdm>=4.64.0
cffi==1.15.0

